<div class="row">
  <div class="col-md-6 col-lg-3" *ngFor='let topcard of agua'>
     <a (click)="evento(topcard.agua_id, estado)" ngClass=" {{estado==false?'isDisabled': 'noDisabled' }}" >
      <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="btn btn-lg rounded-circle round round-lg fs-6 d-flex align-items-center justify-content-center bg-light-info">
                    <img src="../../../../assets/images/agua/agua.png" width="50px" alt="">
                </div>
                <div class="ms-3">
                    <h3 class="mb-0 font-weight-bold">{{topcard.nombre}}</h3>
                </div>
            </div>
        </div>
      </div>
     </a>
  </div>
</div>