<div class="row">
  <div class="col-md-6 col-lg-3" *ngFor='let topcard of descansos'>
     <a (click)="eventClick(topcard)">
      <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="btn btn-lg rounded-circle round round-lg fs-6 d-flex align-items-center justify-content-center bg-light-info">
                    <img src="../../../../assets/images/descanso/{{topcard.icon}}" width="50px" alt="">
                </div>
                <div class="ms-3">
                    <h3 class="mb-0 font-weight-bold">{{topcard.nombre}}</h3>
                </div>
            </div>
        </div>
      </div>
     </a>
  </div>
</div>

<div class="row" *ngIf="descanso !=null" >
    <div class="col-12">
      <div class="card">
        <div class="p-3">
          <h4 class="card-title mb-0 text-uppercase">{{descanso?.nombre}}</h4>
        </div>
        <div class="card-body border-top">
            <form [formGroup]="form"(ngSubmit)="save(form.value)" >
                <mat-card>
                    <mat-card-content>
                      <div class="row d-flex justify-content-center  ">
                        <div class="col-md-10 col-lg-10 mb-3">
                          <div class="form-group">
                            <label class="form-control-label mb-2">FECHA ACTUAL</label>
                            <input type="date" id="" formControlName="fecha"  class="form-control form-control-alternative">
                          </div>
          
                        </div>
                        <div class="col-md-10 col-lg-10 mb-3 mt-3">
                          <div class="form-group">
                            <label class="form-control-label">HORA</label>
                            <input type="time" formControlName="hora" class="form-control form-control-alternative">
                          </div>
                        </div>  
                        <div class="col-md-10 col-lg-10 mb-3 mt-3">
                          <div class="form-group ">
                            <label class="form-control-label" for="input-username">{{descanso?.descanso_id=='1'? '¿DURMIÓ BIEN?':'¿DESCANSO BIEN?'}}</label>
                            <div class="form-check">
                              <input class="form-check-input" formControlName="descanso" value="true" type="radio" checked>
                              <label class="form-check-label" for="flexRadioDefault1">
                                SI
                              </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" formControlName="descanso" value="false" type="radio" >
                              <label class="form-check-label" for="flexRadioDefault2">
                                NO
                              </label>
                            </div>
                          </div>  
                        </div>                        
                        <div class="col-md-10">
                          <button
                            type="submit"
                            class="btn btn-primary btn-lg"
                            [disabled]="form.invalid"
                          >
                            Guardar
                          </button>
                      </div>
                      </div>
                    </mat-card-content>              
                    
                  </mat-card>
               </form>
        </div>
      </div>
    </div>
</div>