<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="p-3  d-flex">
            <img src="../../../../assets/images/paloma.png" width="50px" class="ms-3 me-3" >
            <h4 class="d-flex align-items-center" >ESPERANZA</h4>
        </div>
        <div class="card-body border-top">
            <form [formGroup]="form"(ngSubmit)="save(form.value)" >
                <mat-card>
                    <mat-card-content>
                      <div class="row d-flex justify-content-center  ">
                        <div class="col-md-10 col-lg-10 mb-3">
                          <div class="form-group">
                            <label class="form-control-label mb-2">FECHA ACTUAL</label>
                            <input type="date" id="" formControlName="fecha" class="form-control form-control-alternative">
                          </div>
          
                        </div>
                        <div class="col-md-10 col-lg-10 mb-3 mt-3">
                            <div class="form-group ">
                              <label class="form-control-label" for="input-username">¿HOY ORO Y ESTUDIO LA BIBLIA?</label>
                              <div class="form-check">
                                <input class="form-check-input" formControlName="orar" value="true" type="radio" checked>
                                <label class="form-check-label" for="flexRadioDefault1">
                                  SI
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" formControlName="orar" value="false" type="radio" >
                                <label class="form-check-label" for="flexRadioDefault2">
                                  NO
                                </label>
                              </div>
                            </div>  
                          </div>  
                          <div class="col-md-10 col-lg-10 mb-3 mt-3">
                            <div class="form-group">
                                <label class="form-control-label mb-2">PEDIDO DE ORACIÓN</label>
                                <textarea type="text" id="" formControlName="pedido_oracion" class="form-control form-control-alternative">                                    
                                </textarea>
                              </div>
                          </div>                      
                        <div class="col-md-10">
                          <button
                            type="submit"
                            class="btn btn-primary btn-lg"
                            [disabled]="form.invalid"
                          >
                            Guardar
                          </button>
                      </div>
                      </div>
                    </mat-card-content>              
                    
                  </mat-card>
               </form>
        </div>
      </div>
    </div>
  </div>